@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNova-Regular.eot");
	src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNovaReg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/Proxima Nova Bold.eot");
	src: url("../fonts/Proxima Nova Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova Bold.woff") format("woff"), url("../fonts/Proxima Nova Bold.ttf") format("truetype"), url("../fonts/Proxima Nova Bold.svg#d1e00a8fb1fd9b428ab6b90409479fde") format("svg");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/Brandon_bld.eot");
	src: url("../fonts/Brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/Brandon_bld.woff") format("woff"), url("../fonts/Brandon_bld.ttf") format("truetype"), url("../fonts/Brandon_bld.svg#41e76bd6e414417d52adb646f262964a") format("svg");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Brandon Grotesque Regular';
	src: url('../fonts/Brandon_reg.eot');
	src: url('../fonts/Brandon_reg.eot?#iefix') format('embedded-opentype'), url('../fonts/Brandon_reg.woff') format('woff'), url('../fonts/Brandon_reg.ttf') format('truetype'), url('../fonts/Brandon_reg.svg#50bf5a2005a5412419d6a4b30314e68e') format('svg');
	font-style: normal;
	font-weight: 400;
}

body,
html {
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #fcfcfc;
}

.header {
	background-color: #1e4a54;
	min-height: 100vh;
	position: relative;
	text-align: center;
	color: #fcfcfc;
	overflow: hidden;
}

.header + * {
	padding-top: 50px;
	padding-bottom: 50px;
}

.header h1,
.header h2 {
	position: relative;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.header h1 {
	font-weight: 700;
	font-size: 52px;
	font-family: "Brandon Grotesque", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header h2 {
	font-family: "Brandon Grotesque Regular", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: 200;
}

.header .button {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	height: 50px;
	line-height: 3;
	font-size: 16px;
	font-weight: 700;
}

.header .icon-embed2 {
	position: relative;
	top: 2px;
}

.header .row {
	margin-top: 35px;
}

.header-cover {
	background-image: url('../images/skyline-lite.png?_=skyline-lite');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.header-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

h3,
h4 {
	text-transform: uppercase;
}

h3 {
	font-family: "Brandon Grotesque Regular", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
	font-weight: 700;
	letter-spacing: 1px;
}

.aside {
	padding-right: 30px;
	border-right: 1px solid #dddddd;
}

.aside-fixed {
	position: fixed;
}

.nav-side > li.active > a {
	background-color: #1e4a54;
}

.footer {
	padding-bottom: 25px;
}


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJ1aWxkL2xlc3MvYXBwL21haW4ubGVzcyIsImJ1aWxkL2xlc3MvYXBwL3ZhcmlhYmxlcy5sZXNzIiwiYnVpbGQvbGVzcy9jbGlxdWUvdmFyaWFibGVzL3ZhcmlhYmxlcy5sZXNzIiwiYnVpbGQvbGVzcy9jbGlxdWUvbWl4aW5zL2xlc3NoYXQubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFNQTtFQUNDLGFBQWEsY0FBYjtFQUNBLFNBQVMsbUNBQVQ7RUFDQSxTQUFTLDJDQUErQyxPQUFPLDBCQUMzRCxxQ0FBeUMsT0FBTyxhQUNoRCxvQ0FBd0MsT0FBTyxpQkFDL0MsbURBQXVELE9BQU8sTUFIbEU7RUFJQSxnQkFBQTtFQUNBLGtCQUFBOztBQUdEO0VBQ0MsYUFBYSxjQUFiO0VBQ0EsU0FBUyxpQ0FBVDtFQUNBLFNBQVMseUNBQTZDLE9BQU8sMEJBQ3pELG1DQUF1QyxPQUFPLGFBQzlDLGtDQUFzQyxPQUFPLGlCQUM3QyxtRUFBdUUsT0FBTyxNQUhsRjtFQUlBLGtCQUFBO0VBQ0EsZ0JBQUE7O0FBR0Q7RUFDQyxhQUFhLG1CQUFiO0VBQ0EsU0FBUywyQkFBVDtFQUNBLFNBQVMsbUNBQXVDLE9BQU8sMEJBQ25ELDZCQUFpQyxPQUFPLGFBQ3hDLDRCQUFnQyxPQUFPLGlCQUN2Qyw2REFBaUUsT0FBTyxNQUg1RTtFQUlBLGtCQUFBO0VBQ0EsZ0JBQUE7O0FBR0Q7RUFDQyxhQUFhLDJCQUFiO0VBQ0EsU0FBUywyQkFBVDtFQUNBLFNBQVMsbUNBQXVDLE9BQU8sMEJBQ25ELDZCQUFpQyxPQUFPLGFBQ3hDLDRCQUFpQyxPQUFPLGlCQUN4Qyw2REFBaUUsT0FBTyxNQUg1RTtFQUlBLGtCQUFBO0VBQ0EsZ0JBQUE7O0FBR0Q7QUFDQTtFQUNDLGFDakNhLGdCQ2dETyw4Q0ZmcEI7RUFDQSxXQUFBOztBQUdEO0VBRUMsbUNBQUE7RUFDQSxrQ0FBQTs7QUFHRDtFQUNDLHlCQUFBOztBQUdEO0VBQ0MseUJBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0VBQ0EsZ0JBQUE7O0FBTkQsT0FRQztFQUNDLGlCQUFBO0VBQ0Esb0JBQUE7O0FBVkYsT0FhQztBQWJELE9BYUs7RUFDSCxrQkFBQTtFQUNBLHlCQUFBO0VBQ0EsbUJBQUE7O0FBaEJGLE9BbUJDO0VBQ0MsZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsYUNwRW1CLHFCQURQLGdCQ2dETyw4Q0ZxQm5COztBQXRCRixPQXlCQztFQUNDLGFDdkVlLDZCQUZILGdCQ2dETyw4Q0Z5Qm5CO0VBQ0EsZUFBQTtFQUNBLGdCQUFBOztBQTVCRixPQStCQztFQUNDLDZCQUFBO0VBQ0Esc0JBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtFQUNBLGNBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7O0FBdENGLE9BeUNDO0VBQ0Msa0JBQUE7RUFDQSxRQUFBOztBQTNDRixPQThDQztFQUNDLGdCQUFBOztBQUdELE9BQUM7RUFDQSxzQkFBc0IsNENBQXRCO0VBQ0EsNkJBQUE7RUFDQSw0QkFBQTtFR09ELHNCQUFBO0VITEMsa0JBQUE7RUFDQSxNQUFBO0VBQ0EsT0FBQTtFR21hQSxXQUFBO0VBQ0EsWUFBQTs7QUhoYUQsT0FBQztFQUNBLGtCQUFBO0VBQ0EsUUFBQTtFQUNBLFNBQUE7RUcraEJELG1CQUFtQixxQkFBbkI7RUFFQSxXQUFXLHFCQUFYOztBSDVoQkQ7QUFBSTtFQUNILHlCQUFBOztBQUdEO0VBQ0MsYUN2SGdCLDZCQUZILGdCQ2dETyw4Q0Z5RXBCOztBQUdEO0VBQ0ksZ0JBQUE7RUFDQSxtQkFBQTs7QUFHSjtFQUNDLG1CQUFBO0VBQ0EsK0JBQUE7O0FBRUEsTUFBQztFQUNBLGVBQUE7O0FBR0YsU0FBVSxLQUFJLE9BQVE7RUFDbEIseUJBQUE7O0FBR0o7RUFDQyxvQkFBQSJ9 */