{
  "presets": [
    ["env", {
      "modules": false,
      "targets": { "node": true }
    }],
    "stage-2", "flow"
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2", "flow"],
      "plugins": [ "istanbul" ]
    }
  }
}
