body,
html {
	margin: 0;
	padding: 0;
}
body {
	background-color: #69D2E7;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}
h1, h2, h3, h4 {
	font-weight: 300;
}
a {
	clear: both;
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
	border: 3px solid rgba(255, 255, 255, 0.25);
	margin: 10px 0;
	color: #fff;
	-webkit-transition: 150ms ease-in-out;
	-moz-transition: 150ms ease-in-out;
	transition: 150ms ease-in-out;
}
a:hover {
	border-color: #fff;
}
.main-wrapper {
	padding: 50px;
	text-align: right;
}
.site-title {
	font-size: 36px;
	line-height: 1;
}
.window {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #fff;
	padding: 25px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	width: 400px;
}
.window h3 {
	height: 24px;
	font-size: 24px;
	color: #54636E;
}
